dist
node_modules
packages/api-fast-and-dirty/storage/**/*
!packages/api-fast-and-dirty/storage/users/.gitkeep
!packages/api-fast-and-dirty/storage/recommendations/.gitkeep
**/.env
**/.env.*
!**/.env.example
packages/all-schools-builder/exports/**/*
!packages/all-schools-builder/exports/.gitkeep
!packages/all-schools-builder/exports/public/.gitkeep
!packages/all-schools-builder/exports/json/.gitkeep
!packages/all-schools-builder/exports/json/active/.gitkeep
